server:
  port: 8080

# Настройки VPN сервера
vpn:
  xray-path: ${VPN_XRAY_PATH}
  xray-port: ${VPN_XRAY_PORT}
  server-address: ${VPN_SERVER_ADDRESS}
  config-path: ${VPN_CONFIG_PATH}
  

  reality:
    enabled: ${VPN_REALITY_ENABLED}
    dest: ${VPN_REALITY_DEST:www.microsoft.com}
    server-names:
      - www.microsoft.com
    private-key: ${VPN_REALITY_PRIVATE_KEY}
    public-key: ${VPN_REALITY_PUBLIC_KEY}
    short-ids:
      - ""
      - "6ba85179e30d4fc2"
    fingerprint: ${VPN_REALITY_FINGERPRINT}

# Логирование
logging:
  level:
    com.example.vpn: DEBUG
