server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:vpn_db}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        use_sql_comments: true
        jdbc:
          lob:
            non_contextual_creation: true
  sql:
    init:
      mode: always
      platform: postgresql
  task:
    scheduling:
      pool:
        size: 5

# Настройки VPN сервера
vpn:
  xray-path: ${VPN_XRAY_PATH}
  xray-port: ${VPN_XRAY_PORT}
  server-address: ${VPN_SERVER_ADDRESS}
  config-path: ${VPN_CONFIG_PATH}
  api-server: ${VPN_API_SERVER:127.0.0.1:10085}
  inbound-tag: ${VPN_INBOUND_TAG:inbound-443}
  

  reality:
    enabled: ${VPN_REALITY_ENABLED}
    dest: ${VPN_REALITY_DEST:www.microsoft.com}
    server-names:
      - www.microsoft.com
    private-key: ${VPN_REALITY_PRIVATE_KEY}
    public-key: ${VPN_REALITY_PUBLIC_KEY}
    short-ids:
      - ""
      - "6ba85179e30d4fc2"
    fingerprint: ${VPN_REALITY_FINGERPRINT}

# Логирование
logging:
  level:
    com.example.vpn: DEBUG
